body {
  background-color: #111;
  color: #f0f0f0;
  font-family: "Arial", sans-serif;
  padding: 0;
  margin: 0;
}

.game-screen {
  background-image: url("Assets/Enverioment/floor.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: pixelated;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.score-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 6px 12px;
  z-index: 5;
}

.score-icon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.score-text {
  font-size: 1.8em;
  font-weight: bold;
  color: #f0f0f0;
}

.boton-ui {
  background-color: transparent;
  border:0;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.1); /* efecto visual opcional */
}

.btn-img {
  transition: transform 0.2s ease, filter 0.2s ease;
}

button:hover .btn-img {
  transform: scale(1.05);
  transition: transform 0.2s ease;
  filter: brightness(1.3);
}
.boton-ui:active .btn-img {
  transform: scale(0.95);
}

.button-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 10;
  padding: 10px 0;
}

@media (max-width: 600px) {
  .btn-img {
    width: 50px;
  }

  .button-bar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .score-container {
    top: 10px;
    transform: translateX(-50%);
  }
}

@media (orientation: landscape) and (min-width: 600px) {
  .button-bar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    position: absolute;
    top: 60px;
    left: 20px;
    width: auto;
    padding: 0;
  }

  .boton-ui {
    position: static;
  }

  .btn-img {
    width: 70px;
  }
}
